:root {
  --color-light: black;
  --color-menu-hover: #3330ff;
  --color-light-text: #4a00ff;
  --color-light-background: #efeff9;
  --color-dark: white;
  --color-menu-hover-dark: #3330ff;
  --color-dark-text: #4a00ff;
  --color-dark-background: #1d1d21;
}
.darkheader {
  width: 100%;
  position: fixed;
  z-index: 9999;
  height: 80px;
  background-color: black;
  border-bottom: 1px solid black;
  display: flex;
  transition: all 0.5s auto;
}
.menudark {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  justify-content: flex-end;
}
.menudark ul {
  display: flex;
  list-style: none;
}
.menudark ul li {
  color: var(--color-dark);
  margin-left: 40px;
  font-weight: 400;
  font-size: 16px;
  /* width: 80px; */
  line-height: 24px;
  gap: 3%;
}
.menudark ul li:hover {
  color: var(--color-menu-hover);
  /* margin-right: 40px; */
  transition: all 0.2s ease;
  cursor: pointer;
}
.bgimgdark {
  background-image: url("../public/mainPagedark.png");
  background-size: cover;
}
.zagldark {
  color: white;
  font-weight: 500;
  font-size: 50px;
  line-height: 75px;
}
.prjeldark {
  margin-right: 5px;
  border-radius: 20px;
  padding: 10px;
  margin-left: 5px;
}
.prjeldark img {
  width: 100%;
  border-radius: 10px;
}
.prjeldark h3 {
  text-align: center;
}
.prjeldark:hover {
  background-color: #19191c;
  transition: all 0.3s ease;
  cursor: pointer;
}
.footerdark {
  width: 100%;
  background-color: black;
  color: white;
}
::-webkit-scrollbar {
  width: 10px; /* ширина полосы прокрутки */
}

/* Стиль фона полосы прокрутки (track) */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Стиль полосы прокрутки (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px; /* закругление углов полосы прокрутки */
}

/* Стиль полосы прокрутки при наведении */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
